aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.10
aiosignal==1.3.2
attrs==24.3.0
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Flask==3.1.0
frozenlist==1.5.0
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
logmagix==2.0.3
MarkupSafe==3.0.2
multidict==6.1.0
outcome==1.3.0.post0
patchright==1.48.0.post0
pip==24.3.1
playwright==1.48.0
priority==2.0.0
propcache==0.2.1
pydub==0.25.1
pyee==12.0.0
PySocks==1.7.1
pystyle==2.9
Quart==0.19.9
requests==2.32.3
selenium==4.28.1
sniffio==1.3.1
sortedcontainers==2.4.0
SpeechRecognition==3.10.4
standard-aifc==3.13.0
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==2.3.0
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.18.3
